* {
    box-sizing: border-box;
  }
  
body {
    margin: 0px;
}

.entete {
    padding: 40px;
    text-align: center;
    background-image: url('../img/background_entete.jpg');
    background-position: 0px -700px;
    color: white;
}

.menu-conteneur {
    display: flex;
    background-color: #4c1d31;
}

.menu-lien {
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.menu-lien:hover {
    background-color: #873559;
}

#conteneur-principale {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
        "presentation articles";
    gap: 10px;
    padding: 10px;
}

.presentation {
    grid-area: presentation;
    padding: 20px;
    background-color: #d07b80;
    border-radius: 10px;
    height: fit-content;
}

.image-presentation {
    width: 100%;
}

#conteneur-article {
    grid-area: articles;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.justify {
    text-align: justify;
}

article {
    padding: 20px;
    background-color: #d07b80;
    border-radius: 10px;
}

.article_image {
    width: 100%;
    background-color: gray;
    color: white;
    padding: 20px;
}

footer {
    padding: 10px;
    background-color: #4c1d31;
    color: white;
    text-align: right;
}

/* ==========================
   HAMBURGER (par défaut caché)
========================== */

.entete {
    position: relative;
}
.hamburger {
    display: none; /* visible seulement <=800 */
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 42px;
    color: white;
    text-decoration: none;
}

/* Menu mobile caché par défaut */
.menu-mobile {
    display: none;
    background-color: #4c1d31;
    flex-direction: column;
}

/* Quand on clique -> #menu devient target */
#menu:target {
    display: flex;
}

/* bouton fermer */
.fermer {
    color: white;
    text-decoration: none;
    font-size: 28px;
    padding: 10px 20px;
    text-align: right;
}

/* ==========================
   RESPONSIVE <= 800px
========================== */
@media screen and (max-width: 800px) {

    /* menu PC disparaît */
    .menu-conteneur {
        display: none;
    }

    /* hamburger apparaît */
    .hamburger {
        display: inline-block;
    }

    /* cache “À propos de moi” */
    .presentation {
        display: none;
    }

    /* la grille devient 1 colonne */
    #conteneur-principale {
        grid-template-columns: 1fr;
        grid-template-areas: "articles";
    }
}
